In [1]:
!pip install soynlp

Requirement already satisfied: soynlp in c:\programdata\anaconda3\lib\site-packages (0.0.493)

WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: You are using pip version 21.1.1; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\ProgramData\Anaconda3\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: numpy>=1.12.1 in c:\programdata\anaconda3\lib\site-packages (from soynlp) (1.19.2)
Requirement already satisfied: scipy>=1.1.0 in c:\programdata\anaconda3\lib\site-packages (from soynlp) (1.5.2)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\programdata\anaconda3\lib\site-packages (from soynlp) (0.23.2)
Requirement already satisfied: psutil>=5.0.1 in c:\programdata\anaconda3\lib\site-packages (from soynlp) (5.7.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->soynlp) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->soynlp) (0.17.0)

In [2]:
!pip show soynlp

Name: soynlp
Version: 0.0.493
Summary: Unsupervised Korean Natural Language Processing Toolkits
Home-page: https://github.com/lovit/soynlp
Author: Lovit
Author-email: soy.lovit@gmail.com
License: UNKNOWN
Location: c:\programdata\anaconda3\lib\site-packages
Requires: numpy, scipy, scikit-learn, psutil
Required-by:

In [3]:
# 라이브러리를 호출합니다.
import numpy as np
import pandas as pd
import re

In [4]:
# 데이터를 읽고, 데이터프레임 df를 생성합니다.
df = pd.read_csv('./_edit_add_video_address.csv')
df

,Unnamed: 0,index,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description,video_Address
0,53,245,n5StUwJPF_g,[순간포착 세상에 이런 일이 레전드] ‘검은 얼굴의 남자’ 풀버전 다시보기ㅣ순간포착...,2020-08-05 2:00,UCYZv9v_bwfMGc64gLRe34OA,SBS STORY,15.0,2020-08-13 0:00,SBS|SBSStory|교양|순간포착세상에이런일이|순간포착세상에이런일이다시보기|순간...,1711669.0,16880.0,1048.0,4009.0,https://i.ytimg.com/vi/n5StUwJPF_g/default.jpg,False,False,10년 동안 구두약을 바르며 정처 없이 거리를 떠돌고 있다는 남자와 여자. 두 사람...,https://www.youtube.com/watch?v=n5StUwJPF_g
1,52,244,nlx-H5kxxkw,정동원 남승민&임도형 웰컴 투 하동 집들이 [아내의 맛],2020-08-05 2:43,UCrLQ0ovys23H9xBV6U-Sd4A,정동원TV,10.0,2020-08-13 0:00,[None],1892634.0,32204.0,1881.0,2247.0,https://i.ytimg.com/vi/nlx-H5kxxkw/default.jpg,False,False,NaN,https://www.youtube.com/watch?v=nlx-H5kxxkw
2,20,116,q4lyRLzFCbE,(다반뉴스) 고X정 불륜! 민주당 개망신 영상 떴다! / 신의한수 20.08.05,2020-08-05 9:49,UCgOLQwRv1r2m9mhE1tfsn3Q,신의한수,25.0,2020-08-12 0:00,[None],1328670.0,118842.0,6000.0,2824.0,https://i.ytimg.com/vi/q4lyRLzFCbE/default.jpg,False,False,온라인 판매 주소 : https://www.pkmall.co.kr/shop/item...,https://www.youtube.com/watch?v=q4lyRLzFCbE
3,13,109,fKOJjBlXlX8,자기를 살려준 인간을 기억한 돌고래가 보여준 믿을 수 없는 실화,2020-08-05 10:45,UCMguxwveCsLVpyKrLz-EFTg,달빛뮤즈,1.0,2020-08-12 0:00,돌핀 테일|돌핀 테일 실화|돌핀 테일 2|돌핀 테일1결말|돌핀 테일 2결말|돌핀 테...,775321.0,11004.0,303.0,257.0,https://i.ytimg.com/vi/fKOJjBlXlX8/default.jpg,False,False,이번 소개해드릴 영화는 #돌핀테일 #달빛뮤즈 #실화영화▶ 달빛뮤즈 채널 구독 htt...,https://www.youtube.com/watch?v=fKOJjBlXlX8
4,35,131,3SGlD1VZkUQ,이삭토스트를 처음 먹어본 영국인들의 반응??!!,2020-08-05 11:30,UCg-p3lQIqmhh7gHpyaOmOiQ,영국남자 Korean Englishman,23.0,2020-08-12 0:00,Korean|영국남자|영국|조쉬|올리|Josh|Ollie|KoreanEnglish|...,1114440.0,40937.0,391.0,4239.0,https://i.ytimg.com/vi/3SGlD1VZkUQ/default.jpg,False,False,이 영상은 광고가 아닙니다!! 그냥 올리가 이삭토스트에 과몰입해서 그래요…😂저희는 ...,https://www.youtube.com/watch?v=3SGlD1VZkUQ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15583,13786,97187,hXBosHRORS8,"폭설 때문에 피난 갔습니다 (ft.매운 닭발, 닭발 튀김)",2021-12-21 11:00,UCZ1wYQHk1yVle18u8FA8AvA,배말랭,22.0,2021-12-22 0:00,배말랭|별다먹|백수|자취|핫소스|생존|배씨표류기|원룸|베란다|월세5만원|배건우|폭설...,419214.0,8985.0,0.0,731.0,https://i.ytimg.com/vi/hXBosHRORS8/default.jpg,False,False,#배말랭 #배씨표류기 #베란다원룸 #자취 #생존 #월세5만원안녕하세요! 배말랭입니다...,https://www.youtube.com/watch?v=hXBosHRORS8
15584,13754,97155,Fdf6fmB8VcQ,매장 모르게 '빽다방' 깜짝 방문 해봤습니다! 빽다방 아이스 음료의 진실은..? #...,2021-12-21 11:07,UCyn-K7rZLXjGl7VXGweIlcA,백종원의 요리비책 Paik's Cuisine,22.0,2021-12-22 0:00,빽다방|빽다방빵연구소|백종원카페|백종원빵집|빽스베이커리|오프더레코드|비하인드썰|브랜...,658073.0,11065.0,0.0,2209.0,https://i.ytimg.com/vi/Fdf6fmB8VcQ/default.jpg,False,False,#백종원 #빽다방 #내꺼내먹빽다방&빽스베이커리 에 몰래 가봤습니다저희가 운영 중인 ...,https://www.youtube.com/watch?v=Fdf6fmB8VcQ
15585,13777,97178,IaQ1E3tTrGE,여사친이랑 12시간동안 10000kcal 챌린지 먹방!!!!,2021-12-21 12:30,UC-KafR_WOgyxLK_2FBsP8-w,황룡갑,23.0,2021-12-22 0:00,황룡갑|다이어트|먹방|mukbang|핫소스|배말랭|핫식당|황해성|배건우|박성순|송형...,175956.0,4267.0,0.0,676.0,https://i.ytimg.com/vi/IaQ1E3tTrGE/default.jpg,False,False,#10000kcal #12시간먹방 #먹방안녕하세요 오늘은 세희 누나가 저랑 24시간...,https://www.youtube.com/watch?v=IaQ1E3tTrGE
15586,13755,97156,76eyAydNX18,"[5-6회 요약] 너 없이 살수 있을 거란 내 오만 최우식X김다미, 흔들리다 못해 ...",2021-12-22 1:00,UC3re3ueOE_6VZK85zlEUWFA,SBS Catch,24.0,2021-12-22 0:00,스브스캐치|스브스캐치 드라마|SBS 그 해 우리는|그 해 우리는 티저|그 해 우리는...,151233.0,3861.0,0.0,298.0,https://i.ytimg.com/vi/76eyAydNX18/default.jpg,False,False,[스브스캐치] 구독하기▶https://goo.gl/bnT3WD[5-6회 요약] 너 ...,https://www.youtube.com/watch?v=76eyAydNX18
15587,13763,97164,_PxoNWb--uk,우리집 강아지가 임신을 했어요!,2021-12-22 3:01,UC-IYpdOqjkER7B6cnChwlhA,소녀의행성 Girlsplanet,15.0,2021-12-22 0:00,pomeranian|welshcorgi|retriever|dog|puppy|소녀의행...,284359.0,14633.0,0.0,966.0,https://i.ytimg.com/vi/_PxoNWb--uk/default.jpg,False,False,#소녀의행성 #강아지 #dog즐겁게 시청해주세요♥-소행성 팬 가입해주세요 :)htt...,https://www.youtube.com/watch?v=_PxoNWb--uk

In [5]:
# 문자열을 Datetime으로 변환하기
df['publishedAt'] = pd.to_datetime(df['publishedAt'],format='%Y-%m-%d')
df['trending_date'] = pd.to_datetime(df['trending_date'],format='%Y-%m-%d')

In [6]:
# 12/20까지의 데이터만 사용하기
df=df.loc[df['trending_date'] <= '2021-12-20']

In [7]:
df

,Unnamed: 0,index,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description,video_Address
0,53,245,n5StUwJPF_g,[순간포착 세상에 이런 일이 레전드] ‘검은 얼굴의 남자’ 풀버전 다시보기ㅣ순간포착...,2020-08-05 02:00:00,UCYZv9v_bwfMGc64gLRe34OA,SBS STORY,15.0,2020-08-13,SBS|SBSStory|교양|순간포착세상에이런일이|순간포착세상에이런일이다시보기|순간...,1711669.0,16880.0,1048.0,4009.0,https://i.ytimg.com/vi/n5StUwJPF_g/default.jpg,False,False,10년 동안 구두약을 바르며 정처 없이 거리를 떠돌고 있다는 남자와 여자. 두 사람...,https://www.youtube.com/watch?v=n5StUwJPF_g
1,52,244,nlx-H5kxxkw,정동원 남승민&임도형 웰컴 투 하동 집들이 [아내의 맛],2020-08-05 02:43:00,UCrLQ0ovys23H9xBV6U-Sd4A,정동원TV,10.0,2020-08-13,[None],1892634.0,32204.0,1881.0,2247.0,https://i.ytimg.com/vi/nlx-H5kxxkw/default.jpg,False,False,NaN,https://www.youtube.com/watch?v=nlx-H5kxxkw
2,20,116,q4lyRLzFCbE,(다반뉴스) 고X정 불륜! 민주당 개망신 영상 떴다! / 신의한수 20.08.05,2020-08-05 09:49:00,UCgOLQwRv1r2m9mhE1tfsn3Q,신의한수,25.0,2020-08-12,[None],1328670.0,118842.0,6000.0,2824.0,https://i.ytimg.com/vi/q4lyRLzFCbE/default.jpg,False,False,온라인 판매 주소 : https://www.pkmall.co.kr/shop/item...,https://www.youtube.com/watch?v=q4lyRLzFCbE
3,13,109,fKOJjBlXlX8,자기를 살려준 인간을 기억한 돌고래가 보여준 믿을 수 없는 실화,2020-08-05 10:45:00,UCMguxwveCsLVpyKrLz-EFTg,달빛뮤즈,1.0,2020-08-12,돌핀 테일|돌핀 테일 실화|돌핀 테일 2|돌핀 테일1결말|돌핀 테일 2결말|돌핀 테...,775321.0,11004.0,303.0,257.0,https://i.ytimg.com/vi/fKOJjBlXlX8/default.jpg,False,False,이번 소개해드릴 영화는 #돌핀테일 #달빛뮤즈 #실화영화▶ 달빛뮤즈 채널 구독 htt...,https://www.youtube.com/watch?v=fKOJjBlXlX8
4,35,131,3SGlD1VZkUQ,이삭토스트를 처음 먹어본 영국인들의 반응??!!,2020-08-05 11:30:00,UCg-p3lQIqmhh7gHpyaOmOiQ,영국남자 Korean Englishman,23.0,2020-08-12,Korean|영국남자|영국|조쉬|올리|Josh|Ollie|KoreanEnglish|...,1114440.0,40937.0,391.0,4239.0,https://i.ytimg.com/vi/3SGlD1VZkUQ/default.jpg,False,False,이 영상은 광고가 아닙니다!! 그냥 올리가 이삭토스트에 과몰입해서 그래요…😂저희는 ...,https://www.youtube.com/watch?v=3SGlD1VZkUQ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15536,13683,96571,sIaUHPE15vE,물가가 말도 안 되게 싸고 한국인이 없는 터키 무격리 입국 【터키.01】,2021-12-19 02:00:00,UCGznJ6xII2H4BIXEclV9QEg,둥지언니,22.0,2021-12-19,터키 여행|터키 물가|터키 환율|터키 이스탄불|이스탄불 한 달 살기|세계여행|해외 ...,103852.0,4108.0,0.0,518.0,https://i.ytimg.com/vi/sIaUHPE15vE/default.jpg,False,False,결혼 5년 차에 있던 살림 살이 다 팔고어디서든 살아보자는 마음으로 집 없이 떠돌아...,https://www.youtube.com/watch?v=sIaUHPE15vE
15539,13721,96800,MKUdXUR8qJ0,[어느 날 EP.8] 차승원 회심의 한방 증거는 오염되었다! VS 얄짤없는 김신록 ...,2021-12-19 03:00:00,UCjn-VbcIkAeXQKCmLJV8YwQ,쿠팡플레이 Coupang Play,24.0,2021-12-20,차승원|어느 날|김수현|쿠팡플레이|오리지널|드라마|하드코어|범죄|스릴러|쿠팡|김성규...,409385.0,1920.0,0.0,493.0,https://i.ytimg.com/vi/MKUdXUR8qJ0/default.jpg,False,False,쿠팡플레이 첫 드라마 시리즈 '어느 날' 하이라이트 공개💡 🚩어느 날 풀버전은 쿠팡...,https://www.youtube.com/watch?v=MKUdXUR8qJ0
15542,13715,96774,sTprt6cZnyI,찌질이끼리 사귀면 어떨까? | 컬투쇼 영상툰,2021-12-19 05:00:00,UC3zQwS0Ioduks5DqvMWFd5Q,재훍 영상툰,1.0,2021-12-20,컬투|컬투쇼|컬투UCC|컬투쇼UCC|컬투레전드|컬투쇼레전드|컬투쇼애니메이션|컬투쇼베...,255147.0,4521.0,0.0,200.0,https://i.ytimg.com/vi/sTprt6cZnyI/default.jpg,False,False,얼마나 속터질지 살펴보아요#재훍 #컬투쇼 #찌질이,https://www.youtube.com/watch?v=sTprt6cZnyI
15547,13712,96760,Ht-YXf9cHtQ,"12년째 백반을 단 돈 1,000원에 팔아도 식당이 유지 되는 이유",2021-12-19 10:59:00,UCObJpvG3_f0P3EuLJCjzT5g,빅페이스 BIGFACE,24.0,2021-12-20,1000원|1000원 식당|천원|천원 식당|천원식당|적자 식당|광주 천원식당|광주 ...,601946.0,26772.0,0.0,3483.0,https://i.ytimg.com/vi/Ht-YXf9cHtQ/default.jpg,False,False,천원 식당빅페이스 인스타그램▶ https://www.instagram.com/big...,https://www.youtube.com/watch?v=Ht-YXf9cHtQ
15554,13718,96779,AIf7f5PeNVc,"[이슈톡] 인도서 원숭이 무리, 개 250마리 보복 살해 (2021.12.20/뉴스...",2021-12-19 22:32:00,UCF4Wxdo3inmxP-Y59wXDsFw,MBCNEWS,25.0,2021-12-20,MBC|MBC뉴스|뉴스데스크|newsdesk|뉴스투데이|newstoday|8시뉴스|...,1584916.0,9698.0,0.0,3461.0,https://i.ytimg.com/vi/AIf7f5PeNVc/default.jpg,False,False,사이가 좋지 않은 관계를 일컬어 개와 원숭이에 빗대 견원지간이라 말하는데요. 인도에...,https://www.youtube.com/watch?v=AIf7f5PeNVc

In [8]:
# 1단계
df1 = df[df['trending_date'].between('2020-10-11', '2020-11-23') 
         | df['trending_date'].between('2021-11-01', '2021-12-17')]

# 2단계
df2 = df[df['trending_date'].between('2020-08-03', '2020-08-29') 
         | df['trending_date'].between('2020-09-13', '2020-10-10')
         | df['trending_date'].between('2020-11-24', '2020-11-30')
         | df['trending_date'].between('2021-02-15', '2021-07-11')]

# 3단계
df3 = df[df['trending_date'].between('2020-08-30', '2020-09-12') 
         | df['trending_date'].between('2020-12-01', '2021-02-14')]

# 4단계
df4 = df[df['trending_date'].between('2021-07-12', '2021-10-31') 
         | df['trending_date'].between('2021-12-18', '2021-12-20')]

## 1. 토큰화

In [9]:
from soynlp.tokenizer import RegexTokenizer

In [10]:
tokenizer = RegexTokenizer()
tokenizer

C:\ProgramData\Anaconda3\lib\site-packages\soynlp\tokenizer\_tokenizer.py:19: FutureWarning: Possible nested set at position 13
  ('english & latin', re.compile(u"[a-zA-ZÀ-ÿ]+[[`']?s]*|[a-zA-ZÀ-ÿ]+", re.UNICODE))

<1단계>

## 2. 텍스트 데이터 전처리

In [11]:
def preprocessing(text):
    # 개행문자 제거
    text = re.sub('\\\\n', ' ', text)
    return text

In [12]:
sentences_title_1 = df1["title"].apply(preprocessing)
sentences_tags_1 = df1["tags"].apply(preprocessing)

In [13]:
#tokens = sentences_title_1.apply(tokenizer.tokenize)
#tokens

## 3. 워드클라우드 데이터셋

In [14]:
from soynlp.noun import LRNounExtractor

In [15]:
# 불용어(STOPWORD) 제거
noun_extractor = LRNounExtractor(verbose=True)
noun_extractor.train(sentences_title_1)
nouns_title_1 = noun_extractor.extract()
noun_extractor.train(sentences_tags_1)
nouns_tags_1 = noun_extractor.extract()

[Noun Extractor] used default noun predictor; Sejong corpus predictor
[Noun Extractor] used noun_predictor_sejong
[Noun Extractor] All 2398 r features was loaded
[Noun Extractor] scanning was done (L,R) has (1886, 1089) tokens
[Noun Extractor] building L-R graph was done
[Noun Extractor] 251 nouns are extracted
[Noun Extractor] scanning was done (L,R) has (5297, 3135) tokens
[Noun Extractor] building L-R graph was done0 / 2593 sents
[Noun Extractor] 130 nouns are extracted

In [16]:
# List of Tuples
nouns_title_1_list = [(list(nouns_title_1.keys())[0],nouns_title_1[list(nouns_title_1.keys())[0]][0])]

#Create a DataFrame object
nouns_title_1_list = pd.DataFrame(nouns_title_1_list, columns = ['word' , 'value'])

#Add new ROW
for i in range(1,251):
    nouns_title_1_list = nouns_title_1_list.append({'word' : list(nouns_title_1.keys())[i] , 'value' : nouns_title_1[list(nouns_title_1.keys())[i]][0]} , ignore_index=True)

for i in range(0,130):  
    for j in range(0,251):  
        if list(nouns_title_1.keys())[j] == list(nouns_tags_1.keys())[i]:
            nouns_title_1_list['value'] = nouns_title_1_list['value'].replace(nouns_title_1[list(nouns_title_1.keys())[j]][0], 
                                                nouns_title_1[list(nouns_title_1.keys())[j]][0] + nouns_tags_1[list(nouns_tags_1.keys())[i]][0])
        
        else:      
            nouns_title_1_list = nouns_title_1_list.append(pd.DataFrame([[list(nouns_tags_1.keys())[i], nouns_tags_1[list(nouns_tags_1.keys())[i]][0]]], columns=['word', 'value']), ignore_index=True)

        
nouns_title_1_list = nouns_title_1_list.drop_duplicates(['word'])        

nouns_title_1_list = nouns_title_1_list.sort_values(by=['value'], ascending=False)
nouns_title_1_list.to_csv("./wordcloud_set_1.csv",index = False)
nouns_title_1_list

       word  value
30344   브이로    176
29090   구미호    159
232     한선화    127
248    트둥이들    127
30       텐션    127
...     ...    ...
124      이동      2
12536    무정      2
61       트둥      1
147      재벌      1
48       자동      1

[353 rows x 2 columns]

<2단계>

In [17]:
sentences_title_2 = df2["title"].apply(preprocessing)
sentences_tags_2 = df2["tags"].apply(preprocessing)

In [18]:
# 불용어(STOPWORD) 제거
noun_extractor = LRNounExtractor(verbose=True)
noun_extractor.train(sentences_title_2)
nouns_title_2 = noun_extractor.extract()
noun_extractor.train(sentences_tags_2)
nouns_tags_2 = noun_extractor.extract()

[Noun Extractor] used default noun predictor; Sejong corpus predictor
[Noun Extractor] used noun_predictor_sejong
[Noun Extractor] All 2398 r features was loaded
[Noun Extractor] scanning was done (L,R) has (4007, 2271) tokens
[Noun Extractor] building L-R graph was done
[Noun Extractor] 622 nouns are extracted
[Noun Extractor] scanning was done (L,R) has (10093, 5828) tokens
[Noun Extractor] building L-R graph was done
[Noun Extractor] 307 nouns are extracted

In [19]:
# List of Tuples
nouns_title_2_list = [(list(nouns_title_2.keys())[0],nouns_title_2[list(nouns_title_2.keys())[0]][0])]

#Create a DataFrame object
nouns_title_2_list = pd.DataFrame(nouns_title_2_list, columns = ['word' , 'value'])

#Add new ROW
for i in range(1,622):
    nouns_title_2_list = nouns_title_2_list.append({'word' : list(nouns_title_2.keys())[i] , 'value' : nouns_title_2[list(nouns_title_2.keys())[i]][0]} , ignore_index=True)

for i in range(0,307):  
    for j in range(0,622):  
        if list(nouns_title_2.keys())[j] == list(nouns_tags_2.keys())[i]:
            nouns_title_2_list['value'] = nouns_title_2_list['value'].replace(nouns_title_2[list(nouns_title_2.keys())[j]][0], 
                                                nouns_title_2[list(nouns_title_2.keys())[j]][0] + nouns_tags_2[list(nouns_tags_2.keys())[i]][0])
        
        else:      
            nouns_title_2_list = nouns_title_2_list.append(pd.DataFrame([[list(nouns_tags_2.keys())[i], nouns_tags_2[list(nouns_tags_2.keys())[i]][0]]], columns=['word', 'value']), ignore_index=True)

        
nouns_title_2_list = nouns_title_2_list.drop_duplicates(['word'])        

nouns_title_2_list = nouns_title_2_list.sort_values(by=['value'], ascending=False)
nouns_title_2_list.to_csv("./wordcloud_set_2.csv",index = False)
nouns_title_2_list

       word  value
93867    먹방    576
180283  브이로    253
129925   주식    251
127      사랑    248
32946    돌아    248
...     ...    ...
13053    저울      2
96976    여사      2
13       선생      1
104435   강호      1
469      넷플      1

[831 rows x 2 columns]

<3단계>

In [20]:
sentences_title_3 = df3["title"].apply(preprocessing)
sentences_tags_3 = df3["tags"].apply(preprocessing)

In [21]:
# 불용어(STOPWORD) 제거
noun_extractor = LRNounExtractor(verbose=True)
noun_extractor.train(sentences_title_3)
nouns_title_3 = noun_extractor.extract()
noun_extractor.train(sentences_tags_3)
nouns_tags_3 = noun_extractor.extract()

[Noun Extractor] used default noun predictor; Sejong corpus predictor
[Noun Extractor] used noun_predictor_sejong
[Noun Extractor] All 2398 r features was loaded
[Noun Extractor] scanning was done (L,R) has (2118, 1255) tokens
[Noun Extractor] building L-R graph was done0 / 2740 sents
[Noun Extractor] 281 nouns are extracted
[Noun Extractor] scanning was done (L,R) has (5953, 3549) tokens
[Noun Extractor] building L-R graph was done0 / 2740 sents
[Noun Extractor] 169 nouns are extracted

In [23]:
# List of Tuples
nouns_title_3_list = [(list(nouns_title_3.keys())[0],nouns_title_3[list(nouns_title_3.keys())[0]][0])]

#Create a DataFrame object
nouns_title_3_list = pd.DataFrame(nouns_title_3_list, columns = ['word' , 'value'])

#Add new ROW
for i in range(1,281):
    nouns_title_3_list = nouns_title_3_list.append({'word' : list(nouns_title_3.keys())[i] , 'value' : nouns_title_3[list(nouns_title_3.keys())[i]][0]} , ignore_index=True)

for i in range(0,169):  
    for j in range(0,281):  
        if list(nouns_title_3.keys())[j] == list(nouns_tags_3.keys())[i]:
            nouns_title_3_list['value'] = nouns_title_3_list['value'].replace(nouns_title_3[list(nouns_title_3.keys())[j]][0], 
                                                nouns_title_3[list(nouns_title_3.keys())[j]][0] + nouns_tags_3[list(nouns_tags_3.keys())[i]][0])
        
        else:      
            nouns_title_3_list = nouns_title_3_list.append(pd.DataFrame([[list(nouns_tags_3.keys())[i], nouns_tags_3[list(nouns_tags_3.keys())[i]][0]]], columns=['word', 'value']), ignore_index=True)

        
nouns_title_3_list = nouns_title_3_list.drop_duplicates(['word'])        

nouns_title_3_list = nouns_title_3_list.sort_values(by=['value'], ascending=False)
nouns_title_3_list.to_csv("./wordcloud_set_3.csv",index = False)
nouns_title_3_list

             word  value
9825           딘딘    273
9264           역사    196
27             노래    196
265           강아지    196
191            여자    157
...           ...    ...
47443  2020SBS가요대      6
46600        바이오주      5
38456          히어      4
35369          1호      4
20771          감자      3

[404 rows x 2 columns]

<4단계>

In [24]:
sentences_title_4 = df4["title"].apply(preprocessing)
sentences_tags_4 = df4["tags"].apply(preprocessing)

In [25]:
# 불용어(STOPWORD) 제거
noun_extractor = LRNounExtractor(verbose=True)
noun_extractor.train(sentences_title_4)
nouns_title_4 = noun_extractor.extract()
noun_extractor.train(sentences_tags_4)
nouns_tags_4 = noun_extractor.extract()

[Noun Extractor] used default noun predictor; Sejong corpus predictor
[Noun Extractor] used noun_predictor_sejong
[Noun Extractor] All 2398 r features was loaded
[Noun Extractor] scanning was done (L,R) has (2067, 1150) tokens
[Noun Extractor] building L-R graph was done0 / 2777 sents
[Noun Extractor] 266 nouns are extracted
[Noun Extractor] scanning was done (L,R) has (5622, 3281) tokens
[Noun Extractor] building L-R graph was done0 / 2777 sents
[Noun Extractor] 128 nouns are extracted

In [26]:
# List of Tuples
nouns_title_4_list = [(list(nouns_title_4.keys())[0],nouns_title_4[list(nouns_title_4.keys())[0]][0])]

#Create a DataFrame object
nouns_title_4_list = pd.DataFrame(nouns_title_4_list, columns = ['word' , 'value'])

#Add new ROW
for i in range(1,266):
    nouns_title_4_list = nouns_title_4_list.append({'word' : list(nouns_title_4.keys())[i] , 'value' : nouns_title_4[list(nouns_title_4.keys())[i]][0]} , ignore_index=True)

for i in range(0,128):  
    for j in range(0,266):  
        if list(nouns_title_4.keys())[j] == list(nouns_tags_4.keys())[i]:
            nouns_title_4_list['value'] = nouns_title_4_list['value'].replace(nouns_title_4[list(nouns_title_4.keys())[j]][0], 
                                                nouns_title_4[list(nouns_title_4.keys())[j]][0] + nouns_tags_4[list(nouns_tags_4.keys())[i]][0])
        
        else:      
            nouns_title_4_list = nouns_title_4_list.append(pd.DataFrame([[list(nouns_tags_1.keys())[i], nouns_tags_4[list(nouns_tags_4.keys())[i]][0]]], columns=['word', 'value']), ignore_index=True)

        
nouns_title_4_list = nouns_title_4_list.drop_duplicates(['word'])        

nouns_title_4_list = nouns_title_4_list.sort_values(by=['value'], ascending=False)
nouns_title_4_list.to_csv("./wordcloud_set_4.csv",index = False)
nouns_title_4_list

      word  value
32420  쭈꾸미    192
13551   나영    110
18868   고향    106
55      만남     99
207    이강인     99
...    ...    ...
29230   그것      4
173     강력      2
157     택시      2
135     수제      2
58      애호      1

[372 rows x 2 columns]